﻿    <table width="100%">
        <tr>
            <td><br /><br /></td>
            <td style="font-size: 14pt;">
                PT. Toyota-Astra Motor
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 18pt">
        <strong>INVOICE RECEIPT </strong>
    </div>
    <table width="100%" style="font-size: 10pt">
        <tr>
            <td width="20%">
                Vendor
            </td>
            <td width="5%" align="left">
               : <strong>@VENDOR_CODE</strong> 
            </td>
            <td width="70%">
                @VENDOR_NAME
            </td>
        </tr>
        <tr>
            <td>
                Receive Date
            </td>
            <td>
                : <strong>@RECEIVE_DATE</strong>
            </td>
            <td>   
            </td>
        </tr>
    </table>
    <table border="1" style="font-size: 10pt">
        <tr align="center">
            <td >
                <b>Invoice No</b>
            </td>
            <td >
                <b>Currency</b>
            </td>
            <td >
                <b>Amount</b>
            </td>
            <td >
                <b>Status</b>
            </td>
        </tr>
        <!--@rows:-->
        <tr>
            <td align="center">@INVOICE_NO</td>
            <td align="center">@CURRENCY_CD</td>
            <td align="right">@AMOUNT</td>
            <td align="center">@STATUS</td>            
        </tr>
       <!--:@rows-->
    </table>

    <table style="font-size: 10pt">
        <tr>
            <td> </td>
            <td valign="top"> </td>
            <td valign="top"> </td>
            
        </tr>
        <tr>
            <td> </td>
            <td valign="top"> </td>
            <td valign="top"> TMMIN PIC</td>
            
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>@FULL_NAME</td>
            
        </tr>
    </table>    
    