﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WarningPage.aspx.cs" Inherits="ELVISDashboard.WarningPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="warningPage"></div>
    <p class="errorPageP">Please use Mozilla Firefox version 4 or newer for best view, Thank You.</p>
    </form>
</body>
</html>
