<table border="1" width="100%"> 
<tr> 
<th style="text-align: center; font-weight:bold; font-size:10pt;">Received by : </th> 
<th style="text-align: center; font-weight:bold; font-size:10pt;" colspan="2">Approved by : </th> 
<th style="text-align: center; font-weight:bold; font-size:10pt;">Checked by : </th> 
<th style="text-align: center; font-weight:bold; font-size:10pt;">Prepared by : </th> 
</tr> 
<tr> 
    <td rowspan="10" style="color:white"> toyota astra motor toyota </td> 
    <td rowspan="5" style="color:white">  toyota astra motor toyota </td> 
    <td rowspan="5" style="color:white">  toyota astra motor toyota </td> 
    <td rowspan="10" style="color:white"> toyota astra motor toyota </td> 
    <td rowspan="5" style="color:white">  toyota astra motor toyota </td> 
</tr>
<tr></tr>
<tr></tr> 
<tr></tr>
<tr></tr> 
<tr> 
<td rowspan="5" style="color:white"> toyota astra motor toyota </td> 
<td rowspan="5" style="color:white"> toyota astra motor toyota </td> 
<td rowspan="5" style="color:white"> toyota astra motor toyota </td> 
</tr> 
<tr></tr>
<tr></tr> 
<tr></tr>
<tr></tr> 
<tr> 
<td style="font-weight:bold;font-size:10pt;">Date: &nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp;  /   </td> 
<td style="text-align: center; font-weight:bold; font-size: 10pt;">Director</td> 
<td style="text-align: center; font-weight:bold; font-size: 10pt;">Div. Head</td> 
<td style="text-align: center; font-weight:bold; font-size: 10pt;">Dept. Head</td> 
<td style="text-align: center; font-weight:bold; font-size:10pt;">Sect. Head/Staff</td> 
</tr>
</table>