﻿<table width="100%">
    <tr>
        <td></td>
        <td style="font-size: 14pt; height: 50px;">
            @COMPANY_NAME
        </td>
    </tr>
</table>
<div style="text-align: center; font-size: 22pt">
    <strong>RV COVER</strong>
</div>
<table width="100%">
    <tr>
        <td style="font-size: 12pt">
            Issuing Division:
        </td>
        <td style="font-size: 12pt" >
            @ISSUING_DIVISION
        </td>
        <td style="font-size: 12pt">
            RV Date:
        </td>
        <td style="font-size: 12pt" >
            @RV_DATE
        </td>
    </tr>
    <tr>
        <td style="font-size:12pt">
            RV No:
        </td>
        <td colspan="3" style="font-size: 16pt">
            @RV_NO
        </td>
    </tr>
    <tr>
        <td style="font-size: 12pt" >
            Vendor:
        </td>
        <td colspan="3" style="font-size: 12pt" >
            @VENDOR_NAME
        </td>
    </tr>
    <tr>
        <td style="font-size: 12pt" >
            Transaction Type:
        </td>
        <td colspan="3" style="font-size: 16pt" >
            @TRANSACTION_TYPE
        </td>
    </tr>
    <tr>
        <td style="font-size: 12pt" >
            Payment Method:
        </td>
        <td colspan="3" style="font-size: 12pt" >
            @PAYMENT_METHOD
        </td>
    </tr>
    <tr>
    <td style="font-size: 12pt"> Budget No: </td>
    <td colspan="3" style="font-size: 11pt;">
        @BUDGET_NO_DESC
    </td>
    </tr>
    <tr>
        <td style="font-size: 12pt">
            Description:
        </td>
        <td colspan="3" style="font-size: 12pt">
            @DESC
        </td>
    </tr>

    <tr>
        <td style="font-size: 12pt">
            RV Type:
        </td>
        <td colspan="3" style="font-size: 12pt">
            @RV_TYPE_NAME
        </td>
    </tr>

</table>

<table width="30%">
    <tr>
        <td colspan="2">
            <strong style="font-size: 14pt">Total Amount</strong>
        </td>
    </tr>
    @AMOUNT
</table>
<table>
    <tr>
        <td>                
        </td>
        <td>
            @TTD
        </td>
    </tr>        
</table>
<table>
    <tr>
        <td>
            Printed by
        </td>
        <td>
            @USERNAME
        </td>
    </tr>
    <tr>
        <td>
            Print Date
        </td>
        <td>
            @PRINT_DATE
        </td>
    </tr>
</table>