﻿    <table width="100%">
        <tr>
            <td><br /><br /></td>
            <td style="font-size: 14pt;">
                [COMPANY_NAME]
            </td>
            <td valign=top>
                <font size="2">For [ISSUING_DIVISION]</font>
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 22pt">
        <strong>RV TICKET</strong>
    </div>
    <table width="55%" style="font-size: 10pt">
        <tr>
            <td>
                Issuing Division:
            </td>
            <td>
                <strong><span >[ISSUING_DIVISION]</span></strong>
            </td>
        </tr>
        <tr>
            <td>
                Print Date:
            </td>
            <td>
                <strong><span >[PRINT_DATE]</span></strong>
            </td>
        </tr>
    </table>

    <table border="1" style="font-size: 10pt">
        <tr align="center">
            <td rowspan="2">
                <b>No
            </b>
            </td>
            <td rowspan="2">
                <b>RV No
            </b>
            </td>
            <td rowspan="2">
                <b>RV Date
            </b>
            </td>
            <td rowspan="2">
                <b>Vendor
            </b>
            </td>
            <td colspan="3">
                <b>Amount
            </b>
            </td>
            <td rowspan="2">
                <b>Cashier Check
            </b>
            </td>
        </tr>
        <tr align="center">
            <td>
                <b>IDR</b>
            </td>
            <td>
                <b>USD</b>
            </td>
            <td>
                <b>JPY</b>
            </td>
        </tr>
        <tr>
            <td align="center">[NO_0]</td>
            <td align="center">[RV_NO_0]</td>
            <td align="center">[RV_DATE_0]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_0]</td>
            <td align="center">[IDR_VALUE_0]</td>
            <td align="center">[USD_VALUE_0]</td>
            <td align="center">[JPY_VALUE_0]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_1]</td>
            <td align="center">[RV_NO_1]</td>
            <td align="center">[RV_DATE_1]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_1]</td>
            <td align="center">[IDR_VALUE_1]</td>
            <td align="center">[USD_VALUE_1]</td>
            <td align="center">[JPY_VALUE_1]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_2]</td>
            <td align="center">[RV_NO_2]</td>
            <td align="center">[RV_DATE_2]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_2]</td>
            <td align="center">[IDR_VALUE_2]</td>
            <td align="center">[USD_VALUE_2]</td>
            <td align="center">[JPY_VALUE_2]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_3]</td>
            <td align="center">[RV_NO_3]</td>
            <td align="center">[RV_DATE_3]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_3]</td>
            <td align="center">[IDR_VALUE_3]</td>
            <td align="center">[USD_VALUE_3]</td>
            <td align="center">[JPY_VALUE_3]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_4]</td>
            <td align="center">[RV_NO_4]</td>
            <td align="center">[RV_DATE_4]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_4]</td>
            <td align="center">[IDR_VALUE_4]</td>
            <td align="center">[USD_VALUE_4]</td>
            <td align="center">[JPY_VALUE_4]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_5]</td>
            <td align="center">[RV_NO_5]</td>
            <td align="center">[RV_DATE_5]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_5]</td>
            <td align="center">[IDR_VALUE_5]</td>
            <td align="center">[USD_VALUE_5]</td>
            <td align="center">[JPY_VALUE_5]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_6]</td>
            <td align="center">[RV_NO_6]</td>
            <td align="center">[RV_DATE_6]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_6]</td>
            <td align="center">[IDR_VALUE_6]</td>
            <td align="center">[USD_VALUE_6]</td>
            <td align="center">[JPY_VALUE_6]</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                Total
            </td>
            <td align="center">
                [Total_IDR]
            </td>
            <td align="center">
                [Total_USD]
            </td>
            <td  align="center">
                [Total_JPY]
            </td>
            <td></td>
        </tr>
    </table>

    <table style="font-size: 10pt">
        <tr>
            <td></td>
            <td valign="top">
                Finance Cashier
            </td>
            <td valign="top">
                Division PIC
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <br />
                <b>[FINANCE_CASHIER]</b>
            </td>
            <td>
                <br />
                <b>[DIVISION_PIC]</b>
            </td>
            <td></td>
        </tr>
    </table>    
    <table width="100%">
        <tr>
            <td><br /><br /></td>
            <td style="font-size: 14pt;">
                [COMPANY_NAME]
            </td>
            <td valign=top>
                <font size="2">For Finance Division</font>
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 22pt">
        <strong>RV TICKET</strong>
    </div>

    <table width="55%" style="font-size: 10pt">
        <tr>
            <td>
                Issuing Division:
            </td>
            <td>
                <strong><span>[ISSUING_DIVISION]</span></strong>
            </td>
        </tr>
        <tr>
            <td>
                Print Date:
            </td>
            <td>
                <strong><span>[PRINT_DATE]</span></strong>
            </td>
        </tr>
    </table>

    <table border="1" style="font-size: 10pt">
        <tr align="center">
            <td rowspan="2">
                <b>No</b>
            </td>
            <td rowspan="2">
                <b>RV No</b>
            </td>
            <td rowspan="2">
                <b>RV Date
            </b>
            </td>
            <td rowspan="2">
                <b>Vendor</b>
            </td>
            <td colspan="3">
                <b>Amount</b>
            </td>
            <td rowspan="2">
                <b>Cashier Check</b>
            </td>
        </tr>
        <tr align="center">
            <td>
                <b>IDR</b>
            </td>
            <td>
                <b>USD</b>
            </td>
            <td>
                <b>JPY</b>
            </td>
        </tr>
        <tr>
            <td align="center">[NO_0]</td>
            <td align="center">[RV_NO_0]</td>
            <td align="center">[RV_DATE_0]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_0]</td>
            <td align="center">[IDR_VALUE_0]</td>
            <td align="center">[USD_VALUE_0]</td>
            <td align="center">[JPY_VALUE_0]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_1]</td>
            <td align="center">[RV_NO_1]</td>
            <td align="center">[RV_DATE_1]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_1]</td>
            <td align="center">[IDR_VALUE_1]</td>
            <td align="center">[USD_VALUE_1]</td>
            <td align="center">[JPY_VALUE_1]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_2]</td>
            <td align="center">[RV_NO_2]</td>
            <td align="center">[RV_DATE_2]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_2]</td>
            <td align="center">[IDR_VALUE_2]</td>
            <td align="center">[USD_VALUE_2]</td>
            <td align="center">[JPY_VALUE_2]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_3]</td>
            <td align="center">[RV_NO_3]</td>
            <td align="center">[RV_DATE_3]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_3]</td>
            <td align="center">[IDR_VALUE_3]</td>
            <td align="center">[USD_VALUE_3]</td>
            <td align="center">[JPY_VALUE_3]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_4]</td>
            <td align="center">[RV_NO_4]</td>
            <td align="center">[RV_DATE_4]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_4]</td>
            <td align="center">[IDR_VALUE_4]</td>
            <td align="center">[USD_VALUE_4]</td>
            <td align="center">[JPY_VALUE_4]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_5]</td>
            <td align="center">[RV_NO_5]</td>
            <td align="center">[RV_DATE_5]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_5]</td>
            <td align="center">[IDR_VALUE_5]</td>
            <td align="center">[USD_VALUE_5]</td>
            <td align="center">[JPY_VALUE_5]</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">[NO_6]</td>
            <td align="center">[RV_NO_6]</td>
            <td align="center">[RV_DATE_6]</td>
            <td align="center" style="font-size: 5pt">[VENDOR_6]</td>
            <td align="center">[IDR_VALUE_6]</td>
            <td align="center">[USD_VALUE_6]</td>
            <td align="center">[JPY_VALUE_6]</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                Total
            </td>
            <td align="center">
                [Total_IDR]
            </td>
            <td align="center">
                [Total_USD]
            </td>
            <td align="center">
                [Total_JPY]
            </td>
            <td></td>
        </tr>
    </table>

    <table style="font-size: 10pt">
        <tr>
            <td></td>
            <td valign="top">
                Finance Cashier
            </td>
            <td valign="top">
                Division PIC
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <br />
                <b>[FINANCE_CASHIER]</b>
            </td>
            <td>
                <br />
                <b>[DIVISION_PIC]</b>
            </td>
            <td></td>
        </tr>
    </table>