/* -----------------------------------------------------------------
	Desc		:	class-class dasar yang dapat dipakai kapan saja 
----------------------------------------------------------------- */

.left	{	float:left !important;	display:inline !important;	}
.right	{	float:right !important;	display:inline !important;	}

.hidden{	display:none !important;	}

.textgrey		{	color:#999;		}
.textorange		{	color:#f63;		}
.textgreen		{	color:#090;		}
.textred		{	color:#f00;		}
.textblue		{ 	color:#039;		}

.clreol{	clear:both;	}

.bordernone			{	border:none !important;	}
.bordernone ul.list1{	margin-left:2px !important;	}
.bordernone ol li	{	margin-left:-10px !important;	}

/* -----------------------------------------------------------------
	Desc		:	class-class dasar yang dapat dipakai untuk table 
----------------------------------------------------------------- */

.alt2 td
{
	background:#ff0;
}

table.tablewithborder{
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}

table.tablewithborder th, table.tablewithborder td{
	padding:3px 5px;
	font-size:10px;
	line-height:15px;
	border-bottom:1px solid #aaa;
	border-right:1px solid #aaa;
}

table.tablewithborder th{
	text-transform:uppercase;
	line-height:normal !important;
}

td.info{
	font-weight:bold;
}

td.centerall{
	vertical-align:middle;
	text-align:center;
}

table.tablerumit1 td{
	border-bottom:none !important;
}

table.tablerumit1 td.indent{
	padding-left:18px;
}

table.tablerumit1 tr.alt td{
	border-bottom:1px solid #aaa !important;
	border-top:1px solid #aaa !important;
}

/* -----------------------------------------------------------------
	Desc		:	class-class dasar yang dapat dipakai untuk list 
----------------------------------------------------------------- */

ul.list1{
	margin:5px 10px 5px 10px;
	padding:0;
	clear:both;
}

ul.list1 li{
	margin:0;
	padding:0 0 0 10px;
	/* background:url(../images/arrow01.gif) 0 7px no-repeat; */
	border-bottom:1px dotted #ccc;
}

ul.list1 p{
	margin:0 0 5px 0;
}

ul.list1 li:last-child{
	border-bottom:none !important;
}

li .icn{
	position:relative;
}

li .icn img{
	position:absolute;
	top:-18px;
	left:480px;
}

/* -----------------------------------------------------------------
	Desc		:	class-class dasar yang dapat dipakai untuk list 
----------------------------------------------------------------- */

input.btngrey{
	background:#fff url(../images/grad_grey.gif) repeat-x bottom;
	border:1px solid #ccc;
	color:#333;
	padding:0 2px;
}

a.btngrey{
	background:#fff url(../images/grad_grey.gif) repeat-x bottom;
	border:1px solid #999;
	color:#000 !important;
	padding:2px 5px;
	float:left;
	margin-right:5px;
}

/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.speakerPopup {
	background-color:#fff;
	border:1px solid #ddd;
	padding:10px;
	width:900px !important;
	overflow-y:scroll;
	height:400px;
}

.speakerPopupList {
	background-color:#fff;
	border:1px solid #ddd;
	padding:10px;
}

.Order
{
	z-index:1000;
}

.informationPopUp {
	background-color:white;
	border:1px solid black;
	padding:10px;
	width:500px !important;
}

.informationPopUpLong {
	background-color:white;
	border:1px solid black;
	padding:10px;
	width:600px;
}

.mandatory_label:after 
{
    content: "*";
    color: Red;
}

.informationPopUpX
{
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	background-color:#fff;
	border:1px none transparent;
	padding:10px;
	width:320px !important;
	text-align: center;
	
	overflow:auto;
    overflow-y: hidden;    
}

.pointed 
{
    cursor:pointer
}