h2{
    font-size:18px;
    color:#000;
    clear:both;
    text-transform:uppercase;
    margin:5px 0 15px 0;
}

utt
label
{
    font-family: @Arial Unicode MS;
    font-size: 10px;
}

#header{
    float:left;
    display:inline;
    height:100px; 
    background:#432367 url(../images/index.jpg) center right no-repeat;
    /*background:#432367 url(../images/Layout/bghead.gif) center right no-repeat;*/
    width:94%;
    padding:0 3%;
}

#header h1{
    margin:0;
    padding:0;
    text-transform:uppercase;
    color:#fff;
    font:20px "trebuchet ms", Arial, Helvetica, sans-serif;
    font-weight:bold;
    float:left;
    display:inline;
    width:80%;
    margin-top:35px;
}

#header .infoadmin{
    float:right;
    color:#fff;
    text-align:right;
    line-height:15px;
    width:20%;
    margin-top:35px;	
}

#header .infoadmin a{
    color:#ff0;
}

#content{
    width:98%;
    margin:10px 0 10px 1%;
    float:left;
    display:inline;
    text-align:left;
}

#footer{
    float:left;
    display:inline;
    width:100%;
    text-align: left;    
}

.footer-version 
{
    float: left; 
    display: block;
    text-align: left; 
    margin-left: 25px;    
    vertical-align: middle;
    font-family: Sans-Serif, Arial, Helvetica;    
    color: #e0e0e0;
    font-size: 6pt;
}

.warning{
    color:#f00;
    text-transform:uppercase;
}

.warninghome{
    background:#ec0000 url(../images/warninghome.gif) 5px 5px no-repeat;
    padding:8px 8px 8px 50px;
    color:#fff;
}



ul.MenuBarHorizontal
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: default;
    width: 100%;
    float:left;
    line-height:normal !important;
    background:url(../images/grad_grey.gif);
    border-bottom:1px solid #ccc;
}

ul.MenuBarActive
{
    z-index: 1000;
}

ul.MenuBarHorizontal li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    text-align: left;
    cursor: pointer;
    float: left;
    /*white-space:nowrap;*/
}

ul.MenuBarHorizontal ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1020;
    cursor: default;
    position: absolute;
    left: -1000em;
    border-bottom:none !important;
    border-right:none !important;
    white-space:normal;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
    left: auto;
}

ul.MenuBarHorizontal ul li
{
    width:200px;
    border-right:none;
    border-bottom:1px solid #ccc;
    clear:both;
}

ul.MenuBarHorizontal ul li a
{
    background:#fff !important;
}

ul.MenuBarHorizontal ul ul
{
    position: absolute;
    margin: 0 0 0 95%;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
    left: auto;
    top: 0;
}

ul.MenuBarHorizontal ul
{
    border: 1px solid #CCC;
}

ul.MenuBarHorizontal a
{
    display: block;
    cursor: pointer;
    background:url(../images/grad_grey.gif);
    border-right:1px solid #ccc;
    border-left:1px solid #fff;
    padding: 6px 10px;
    color: #333;
    text-decoration: none;
    text-transform:capitalize;
}

ul.MenuBarHorizontal a:hover
{
    color: #777;
    text-decoration: none;
    text-transform:capitalize;
}

ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
    background: #eee !important;
}


ul.MenuBarHorizontal iframe
{
    position: absolute;
    z-index: 1010;
}

@media screen, projection
{
    ul.MenuBarHorizontal li.MenuBarItemIE
    {
        display: inline;
        float: left;
        background: #FFF;
    }
}

.scrollablecontent{
    width:98%;
    padding:1%;
    overflow:auto;
    float:left;
    margin:0 0 10px 0;
    background:#fff;
}

.bordertopnone{
    border-top:none;
}

.headtable{
    width:100%;
    text-align:center;
    border:1px solid #777;
    background:#fff;
    padding:10px 0;
    margin:0 0 10px 0;
}

.headtable p{
    width:99%;
    text-align:center;
    margin:0;
}

.information1{
    background:#e0def4;
    border:1px dashed #bdc1ee;
    padding:5px;
}

.warningpage{
    background:#fff url(../images/warning.jpg) no-repeat top center;
    width:400px;
    padding:220px 20px 20px 20px;
    text-align:center;
    color:#c00;
    font-weight:bold;
    font-size:24px;
    line-height:normal;
    text-transform:uppercase;
    margin:0 auto;
}

.warningpage p{
    text-align:center;
    margin:10px 0;
}

.warningpage a{
    font-size:16px;
    line-height:normal;
    text-transform:none;
    margin:0 auto;
}
.row2{
    clear:both;
    float:left;
    display:inline;
    margin:5px 0 0 0;
    padding:0 0 5px 0;
    width:98%;
}
.row2 label{
    float:left;
    display:inline;
    width:30%;
}
.row2 .rowwrap{
    float:left;
    display:inline;
    width:70%;
}
.row{
    clear:both;
    float:left;
    display:inline;
    margin:5px 0 0 0;
    padding: 0px 0 5px 2px;
    width:98%;
}

.row label{
    float:left;
    display:inline;
    width:17%;
    font-family: @Arial Unicode MS;
    font-size: 11px;
}

.row .rowwrap{
    float:right;
    display:inline;
    width:83%;
}
.row .rowwarphalf
{
    float:left;
    display:inline;
    width:35%;
}
.row .rowwrapMini
{
    float:right;
    display:inline;
    width:50%;
}

.row .rowwarphalfLeft
{
    float:left;
    display:inline;
    width:25%;
}

.row .rowwarphalfRight
{
    float:left;
    display:inline;
    width:25%;
    text-align:right;
}

.row .rowwarphalfRight2
{
    float:right;
    display:inline;
    width:25%;
    text-align:right;
    font-family: @Arial Unicode MS;
    font-size: 11px;	
}

.row .rowwarpright
{
    float:right;
    display:inline;
    width:30%;
}

.row .rowwarpright2
{
    float:right;
    display:inline;
    width:30%;
    text-align:right;
}

.row .rowwarprighthalf
{
    float:right;
    display:inline;
    width:17%;
}

.row .rowwrap label{
    float:none;
}
.form .row .rowwrap p{
    font-style:italic;
    margin:0;
}

.rowlogin
{	float:right;
    display:inline;
    width:75%;
}

.rowlogin label
{
    float:left;
    display:inline;
    width:25%;
    font-weight: bold;
}

.rowbtn
{
    width:97.7%;
    display:inline;
    float:left;
    padding:5px 0px 5px 10px;
    
}

.rowbtn .btnleft  
{
    float: left;
} 
    
.rowbtn .btnright
{
     float:right;
     width:30%;
     display:inline;
     text-align:right;   
}

.rowwrapthree
{
    display:inline;
    float:left;
    width:33%;    
}

.rowwrapthree .label
{
    vertical-align:middle;  
}
    

/* POPUP */
h1#headerpopup{
    float:left;
    display:inline;
    height:50px;
    width:98%;
    padding:1%; 
    margin:0 0 2% 0;
    line-height:50px;
    font-size:18px;
    text-transform:uppercase;
    color:#fff;
    background:#005483 url(../images/index.jpg) center right no-repeat;
}

div#contentpopup{
    overflow:auto;
    clear:both;
    margin:2%;
    padding:2%;
    background:#fff;
}

.paging{
    clear:both;
    margin:10px 0 0 0;
}

.paging a{
    background:#d1e4ff;
    border:1px solid #a5c6f3;
    color:#5c7eac;
    padding:2px 5px;
    float:left;
    margin:0 3px 3px 0;
}

.paging a:hover{
    background:#e5f0ff;
    border:1px solid #86aee3;
}

.paging a.pageon{
    font-weight:bold;
    background:#b9d1f4;
    cursor:default;
    text-decoration:none !important;
}
      
      
      


.check{
    background:none;
    background: #000 url(../images/icon/check.jpg) no-repeat !important ;
    width:15px!important;
    height:15px!Important;
    clear:none!important;
    
}

.x{
    background:none;
    background: #000 url(../images/icon/x.jpg) no-repeat !important ;
    width:15px!important;
    height:15px!Important;
    clear:none!important;
}

.checkitem{
    float :left;
    width:25%;
    margin-bottom:10px;
}








/* 21/08/2009 */


table.chart
{
    margin-top : 10px;
    width	:	1050px;	
}


table.chart th
    {
        width : 60px;
        background:#ccc;
        border-left: 1px solid #fff;
        padding:0;
    }
    
table.chart td
    {
        height : 30px;
        border : 1px solid #ccc;
        padding:0;
        z-index:-100px;
    }
table.chart td.room
{
    width : 150px;
}
    
table.chart .bar
    {
        position:relative;
        display:block;
        height:100%;
        width:100%;
    }
    
table.chart .bar a
    {
        position : absolute;
        height : 30px;
        top:0;
    }
    
table.chart .bar a.movetoform
    {
        display:block;
        width:100%;
        height:100%;
    }

.contentsection
{
    background:#fafafa;
    float:left;
    border:1px solid #000;
    width: 983px;
    padding:2px;
}

.contentsectionApprove
{
    background:#fafafa;
    float:left;
    border:1px solid #000;
    width: 900px;
}

.contentsectionAttachment
{
    background:#fafafa;
    float:left;
    border:1px solid #000;
    width: 99.7%;
    height:35px;
    margin-top:15px;
}

/*add by Jimmy | Nov 17,2011*/
.rowHeaderBanner{
    clear:both;
    float:left;
    display:inline;
    width:70%;
    height:70px;
}
.rowHeaderBanner label{
    float:left;
    display:inline;
    width:75%;
    height:100px;
    position:absolute;
    margin-left: auto;
    font-size:100;
}
.rowHeaderBanner .rowwrap{
    float:right;
    display:inline;
    width:30%;
    height:70px;
    overflow:hidden;
}

img#bg {
  top:0;
  left:0;
  width:100%;
  height:100%;
} 

/* main div */
#mainLogin{
    height:650px;
    width:1024px;
    margin:0 auto;
    padding:0;
}

#mainWindow{
    /* let the window flow */
    /*height:680px;*/
    width:990px;
    margin:0 auto;    
}

div#mainBody
{/* 590px*/
    /* let the window flow */
    /*height:610px;*/
    width:990px;
    margin-top:8px;
    margin-bottom:8px;
}
    
#tableBG
{
    padding:10px;
}

/*Banner BMS*/
.banner
{
    background-image:url(../Images/banner-elvis990.jpg); 
    height:39px;
    width:990px;
    z-index:100111;
}

/* header untuk logo Toyoya */
div#header1
{
    float:left;
    background-image:url(../Images/logoToyota1024.gif);
    background-repeat:no-repeat; 
    width:990px;
    height:32px;
    padding-bottom:6px;
}

div#headerHome
{	width:54px;
    height:32px;
    float:right;
    margin-bottom:5px;	
}

div#headerLogout
{
    background-image:url(../Images/logout.gif);
    width:54px; 
    height:32px;
    float:right;
    font-size:11px;
    margin-bottom:5px;
    text-align:center;
    cursor:hand;
 }
 
 div#headerUser
 {
    width:660px;
    height:17px;
    float:right;
    margin-top:8px;
    margin-bottom:5px;
    padding-left:4px;
    text-align:right;
    font-size:11px;
    margin-right:12px;
    display:inline;
 }

div#headerAnnouncement
{
     background-image:url(../Images/announcement.jpg);
     background-repeat:no-repeat;
     height:25px;   
}

div#headerWorklist
{
    background-image:url(../Images/task-worklist.jpg);
    background-repeat:no-repeat;
    height:25px;
}

/*Buttons */

.shortButton
{
    min-width: 70px;
    height: 20px;
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    /*background-color:transparent;*/
    border:0px;
 }
    
.shortButton:hover
{	text-shadow: 2px 2px 2px silver;
    box-shadow: 2px 2px 2px yellow;
    border-radius: 4px; 
    -webkit-border-radius: 4px;

    min-width: 70px;
    height: 20px;
    /*background-color:transparent;*/
    border:0px;
    cursor:hand}
   
.longButton
{
   width: 96px;
    height: 20px;
    
    background-position:center;
    border-radius: 4px; 
    -webkit-border-radius: 4px;

    /*background-color:transparent;*/
    border:0px;
    background-repeat:no-repeat;
 }
    
 .longButton:hover
{
    text-shadow: 2px 2px 2px silver;
    box-shadow: 2px 2px 2px yellow;
    width: 96px;
    height: 20px;
    border-radius: 4px; 
    -webkit-border-radius: 4px;

    /*background-color:transparent;*/
    border:0px;
    cursor:hand;
}
    
.xlongButton
{
    width: 137px;
    height: 20px;
    border-radius: 4px; 
    -webkit-border-radius: 4px;

    background-position:center;
    /*background-color:transparent;*/
    border:0px;
    background-repeat:no-repeat;
}
 
.xlongButton:hover
{
    text-shadow: 2px 2px 2px silver;
    box-shadow: 2px 2px 2px yellow;
    width: 137px;
    height: 20px;
    border-radius: 4px; 
    -webkit-border-radius: 4px;

    /*background-color:transparent;*/
    border:0px;
    cursor:hand;
} 	

.x2longButton
{
    width: 169px;
    height: 20px;
    background-position:center;
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    
    /*background-color:transparent;*/
    border:0px;
    background-repeat:no-repeat;
}
 
.x2longButton:hover
{
    color:White;
    width: 169px;
    height: 20px;
    
    border-radius: 4px; 
    -webkit-border-radius: 4px;

    text-shadow: 2px 2px 2px silver;
    box-shadow: 2px 2px 2px yellow;
    border:0px;
    cursor:hand;
} 	

.approveButton 
{
    background-color: DarkGreen; 
    color: Silver;    
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    padding-top:2;
    padding-bottom:2;
    
}

.approveButton:hover
{
    background-image: none !important;
    background-color: Green; 
    box-shadow: 2px 2px 2px yellow;
    color: White;    
    border-radius: 4px; 
    -webkit-border-radius: 4px;   
    padding-top:2;
    padding-bottom:2; 
    font-weight: bold;
}
.rejectButton
{
    background-image: none !important;
    background-color: Maroon;
    color: Silver;    
    border-radius: 4px; 
    -webkit-border-radius: 4px;    
    padding-top:2;
    padding-bottom:2;
}
.rejectButton:hover
{
    background-image: none !important;
    background-color: Red; 
    box-shadow: 2px 2px 2px yellow;
    color: White;
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    padding-top:2;
    padding-bottom:2;
    font-weight: bold;
}
/*Page Title Header*/	
.pageTitle
{
    font-size: large;
    font-weight:bold;
    padding:10px 0px 0px 10px;
    color:#464754;
    }

/*Information Content*/
.Information
{
    font-family:Arial;
    width:100%;
}
    
.Information .titleInfo
{
    font-size:small;
    font-weight:bold;
    color: #bcc6d7;
}	
.Information .authorInfo
{
    color:Red;
    font-size:10px;    
}    
.Information .contentInfo
{
    text-align:justify;
    font-size:small;   
    font-size:11px;
}
  
/* div Splitter */
.simple div {        
    overflow: auto;	                        
}    
    
.vsplitbar {            
    width: 3px;
    background: #bababa;	        
}
   
.simple a {
    text-decoration:none;   
}

.simple 
{
    height: 580px;
    width: 988px;
    border: 1px solid #b6b4aa;
    margin:0 auto;
    overflow:hidden;
    clear:both;
    padding-bottom:5px;
}

.footer
{
    /*background-image:url(../Images/footer-bms990.jpg);*/
    border-top: 1px solid #F0F0F0;
    width: 100%;
    position: fixed; 
    z-index:-1;
    clear:both;
    bottom:0;
    margin-top: 1px;
    background-repeat:no-repeat;
    color: #333366;
}

/* information message */

#dvIcon
{
    line-height: 23px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.statusINF
{
    width:20px;
    background-image:url(../Images/Message_Success.png);
    background-repeat:no-repeat;     
    background-position:right;
    vertical-align:text-bottom;
    display:inline;
    font-size:19px !important;
    padding-bottom:3px;
}

.statusWRN
{
    width:20px;
    background-image:url(../Images/Message_Warning.png);
    background-repeat:no-repeat;     
    background-position:right;
    vertical-align:text-bottom;
    display:inline;
    font-size:19px !important;
    padding-bottom:3px;
}

.statusERR
{
    padding-bottom:3px;
    width:20px;
    background-image:url(../Images/Message_Error.png);
    background-repeat:no-repeat;     
    background-position:right;
    vertical-align:text-bottom;
    display:inline;
    font-size:19px !important;
}

.statusMessage
{
    padding-left:3px;
    display:inline; 
    text-align:center;
    vertical-align:middle;
    color:black;
    font-weight:bold;
    padding-top:2px;
    margin-top:2px;
    width:auto;
}

/*Message Icon for Successful*/
.INF
{
    /*background-image: url(../Images/Message_Success.png);*/
    text-align:center;
    color:white;
    font-size:12px;
    background-color:#4be71b;
    clear:both;
    float:left;
    display:inline;
    margin-bottom:5px;
    width:100%;
    height:22px;
}

/*Message Icon for Error*/
.ERR
{
    background-color:#ff5252;
    text-align:center;
    vertical-align:middle;
    color:white;
    font-size:12px;
    font-weight:bold;	
    clear:both;
    margin-bottom:5px;
    width:100%;
    overflow: visible;
    height:22px; 
}
/*Message Icon for Warning*/
.WRN
{
    background-color:Yellow;
    color:black;
    text-align:center;	
    font-size:12px;	
    clear:both;
    font-weight:bold;
    float:left;
    display:inline;
    margin-bottom:5px;
    width:100%;
    height:22px;
}

/*
.statusErr
{
    clear:both;
    float:left;
    display:inline;
    padding: 5px 0 5px 0px;
    width:100%;
}
*/
.errorPage
{
    background-image:url(../Images/oops.jpg);    
    background-position:center;
    background-repeat:no-repeat;     
    height:80px;
    padding-top:200px
}

.errorPageP
{
    width:100%;
    text-align:center;
    font-size:large;
    font-weight:bold;
    color:Silver;
}

.errorPageP a
{
    text-decoration:none; 
    color:Red;   
}

.warningPage
{
    background-image:url(../Images/warning.jpg);    
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:400px;
    margin:20px auto;
}

/* @Lufty CSS for message controls */
.message-error, 
.message-warning,
.message-info 
{
    border: none;
}

.message-warning, 
.message-info,
.message-error,
#messageBox-all ul
{		
    font-size: 12px;	
    font-weight: bold;	
}

.message-warning, 
.message-info,
.message-error,
#messageBox-all
{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.expanded-message-box
{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-bottom: none; 
}

.message-warning, 
.message-info,
.message-error
{
    width: 975px;
    height: 22px;				 
    padding: 2px 2px 2px 10px;
}

.message-warning,
li.message-detail-warning
{
    background-color: Yellow;
}

.message-info,
li.message-detail-info
{
    background-color: #4be71b;
}

.message-error,
li.message-detail-error
{
    background-color: #ff5252;
}

.message-span-warning,
li.message-detail-warning span,
.message-span-error,
li.message-detail-error span,
.message-span-info,
li.message-detail-info span
{
    background-repeat: no-repeat;
    background-position: left center;
}

.message-span-warning,
li.message-detail-warning span
{ 
    background-image: url(../Images/Message_Warning.png);	
}

.message-span-error,
li.message-detail-error span
{ 
    background-image: url(../Images/Message_Error.png);
}

.message-span-info,
li.message-detail-info span
{ 
    background-image: url(../Images/Message_Success.png);
}

#messageBox span
{  
    padding-left: 30px;
    padding-bottom: 5px;	
}

.message-span-warning,
.message-span-info,
.message-span-error
{
    float: left;
}

.message-span-more 
{
    float: right;
    margin-right: 1em;
}

.message-span-more a
{
    color: White;
    text-decoration: none;
}

.message-span-more a:hover
{
    color: White;
    text-decoration: underline;
}

#messageBox-all
{
    border-top: none;
    width: 987px;
}

#messageBox-all ul
{	
    padding: 0;
    margin: 0;	
    width: 987px;
}

li.message-detail-warning span,
li.message-detail-info span,
li.message-detail-error span
{	
    margin: 5px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

li.message-detail-warning,
li.message-detail-info,
li.message-detail-error
{
    margin: 0;
    padding-left: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}
/* ------------------------------- */

.lup
{
    background-color:transparent;
    vertical-align:top;
    height:19px;
}

.cross
{
    background-image:url(../Images/cross.gif);
    background-repeat:no-repeat;
    background-position:center;
    color:White;
}

.inactiveButton
{
    color:Black;
    cursor:default;
    text-decoration:none;      
}

/*added by Akhmad Nuryanto 7/3/2012 **/
.btnRightLong
{
     float:right;
     width:50%;
     display:inline;
     text-align:right; 
}

.disableFields
{
    background-color:#DCDCDC;
    color:Black;
}
/*end of addition by Akhmad Nuryanto **/

.contentsectionUnderTab
{
    background:#fafafa;
    float:left;
    border:1px solid #000;
    width: 950px;
    padding:2px;
}

/* 28/5/2012 Daniel + [[ */
.even
{
    background-color: #EAF1F6;
}

tr.hide 
{
   display: none;   
}
/* ]] 28/5/201 Daniel + */




/* 
    @Lufty. 
    All about Form notes 
*/
.notesWrapper,
.notesWrapper ul,
.noteItem-even,
.noteItem-odd,
.noteSender,
.noteMessage
{
    margin: 0;
}

.notesWrapper
{
    border-top: 1px solid gray;
    padding: 5px;
}
.noteItem-even
{
    background-color: #D5F0DB;
}
.noteItem-odd 
{
    background-color: #E7E6F2;
}
.noteSender
{
    font-style: italic;
    font-weight: bold;
}
.notesWrapper ul li
{
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 10px;
}
.note-toBeReplied
{
    border: 1px solid red;
    background-color: #D1734B;
    color: #ffffff;
}
/* ---------------------------- */

/* @Lufty. Some additional defs for header layout */
.display-inline-table
{    
    display: inline-table;
    vertical-align: middle;
}

.control-layout-table,
.control-layout-table tr
{
    margin: 0;
    padding: 0;
}
.td-layout-value,
.td-layout-item
{    
    margin: 0;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 2px;
    vertical-align: middle;
    text-align: left;
    color: Black;
}
.td-layout-value
{    
    
    -moz-border-radius: 3px;
    padding: 2px 3px;
}

.value-pv
{
    background-color: #E9E9F7 !important;
}
.value-rv 
{
    background-color: #FEFEDE!important;
}
/* ----------------------- */

/* @Lufty. For the sake of Budget No :p */
.budgetNumber-more-link
{
    font-size: 60%;
    display: inline-table;
}
/* ------------------------------------- */

/* @Lufty. Total amount listing */
.totalAmount
{    
    font-size: 115% !important; 
    font-weight: bold;
    color: #6E6E6E;
}

.totalAmount-total
{
    font-size: 130% !important;
    color: #6E6E6E;
}

.totalAmount-detail
{
    font-size: 130% !important;
    padding-right: 30px;
    color: #6E6E6E;
}

.totalAmount-detail-wrapper
{
    /*margin-left: 90px;*/
}
/* ------------------------------ */

.noticeLeft
{
    display: inline; 
    float: left; 
    width: 90%; 
    border: 1px solid black; 
    background-color: Aqua; 
    padding: 2px 4px 2px 4px; 
    margin: 2px 2px 2px 2px; 
    -moz-border-radius:10px;
}

.noticeRight
{
    display: inline; 
    float: right; 
    width: 90%; 
    border: 1px solid black; 
    background-color: #CCFF66; 
    padding: 2px 4px 2px 4px; 
    margin: 2px 2px 2px 2px; 
    -moz-border-radius:10px;
}

#noticeComment 
{
    display: inline; 
    float: left; 
    overflow: scroll; 
    overflow-x: hidden; 
    height: 150px; 
    width: 100%; 
    padding-top: 10px;
}
#noticeWrap
{
    display:inline; 
    float:left; 
    width:100%; 
    border:1px solid grey; 
    background-color:#f6f6f6;
}
.notices 
{
    font-family: Verdana, sans-serif !important;
    font-size: 5pt !important;
    color: Black;
}

.holdflag
{
    font-size: smallfont !important;
    font-weight: bold !important;
    color: Red;
}

.smallFont 
{
    font-size: 8pt !important;
}

.rejected 
{
    background-color: Red;
    
}

.pvform-costCenterName 
{
    font-size: 80% !important;
}

.pvform-standardWording 
{
    font-size: 80% !important;        
}

.pvform-grid-usage-hint-panel
{
    float: right;
    width: 190px;
    border: 1px dotted blue;
    margin-top: 10px;
    padding: 0;
}

.pvform-grid-usage-hint-panel p,
.pvform-grid-usage-hint-panel li
{    
    font-size: 0.9em !important;
}

.pvform-grid-usage-hint-panel li
{
    list-style-type: decimal;
    padding: 0;
}

.pvform-grid-usage-hint-panel ul
{
    margin-left: 20px;
}

.pvform-grid-usage-hint-panel #title
{    
    font-size: 1.5em !important;
    color: White;
    background-color: Blue;
    font-weight: bold;
    font-family: Sans-Serif;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.pvform-grid-usage-hint-panel #content
{
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

.pvapproval-unsettled-notification 
{
    display: inline-block;
    float: right;
    font-weight: bold;
    background-color: Yellow;
    color: red;
    padding: 5px 20px;   
    border-radius: 5px;
    clear:none;
}

.pvapproval-unsettled-notification-hidden 
{
    display: none;
}

.vendor-code-addition-button 
{
    display: inline;
    margin-left: 2px;
    vertical-align: middle;
}

.right-bold 
{
    float:right; 
    font-weight: bold;
}
/* used by Voucher forms PV, RV ; 2012-12-05 dan + */
.righty 
{
float:right;
display:block;
margin-right: -2px;
}
.lefty
{
float: left;
display: block;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
.to
{
float: left;
width: 22px;
clear: none;
display:block;
padding: 0px 0px 0px 0px;
margin: 0px 5px 0px 5px;
}
.cellbox 
{
float:none;
width: 100%;
clear: none;
display: block;
text-align: center;
vertical-align: middle;
}
.uploaddiv 
{
width:420px;
height: 130px;
background: white;
display:block;
}
    
.uploadr 
{
float: left;
width: 300px;
display: block;
clear:none;
}

.doubleRow
{
    height: 35px;
}
.dynamicDiv
{
    height: 18px;
    width: 18px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    position: relative;
}
.lwrap
{
    width: 500px;
    float: left;
    display: block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
.gbox, .ybox, .rbox, .xbox, .wbox
{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    display: block;
}
.gbox, .ybox, .rbox, .wbox
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.gbox
{
    background-color: Green;
    border-color: #009900;
}
.wbox
{
    background-color: White;
    border-color: #CECECE;
}
.ybox
{
    background-color: Yellow;
    border-color: #999900;
}
.rbox
{
    background-color: Red;
    border-color: #990000;
}
.boxText
{
    float: left;
    height: 20px;
    vertical-align: middle;
    text-align: left;
    margin: 0px 5px 0px 5px;
    display: block;
    padding: 0px 3px 0px 3px;
}

.badgewrap 
{
    display: inline;
   
    width:auto;
    float: left;
}

.badge {
    background-color: #006600;
    border: 2px solid #CCFFCC;
    border-radius: 74px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px #339933;
    color: white;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    
    line-height: 12pt;
    margin: 0px 2px 0px 2px;
    padding: 1px 15px 0px 15px;
    text-align: center;
    vertical-align: middle;
    clear: none;
   
}

/* BMS icons for Approval Overview 2013-01-09 dan + */

.Approved
{
    background-image:url(../Images/check.gif);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border-bottom:1px solid silver;
    border-right:1px solid silver;
    color:White;
    font-size:1px !important;
}

.Rejected
{
    background-image:url(../Images/cross.gif);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border-bottom:1px solid silver;
    border-right:1px solid silver;
    color:White;
    font-size:1px !important;
}

.Waiting
{
    background-image:url(../Images/wait.gif);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border-bottom:1px solid silver;
    border-right:1px solid silver;
    color:White;
}
.Noticed
{
    background-image:url(../Images/tanda-tanya.png);
    background-repeat:no-repeat;
    background-position:center;
    clear:both;
    background-color:transparent;
    border-bottom:1px solid silver;
    border-right:1px solid silver;
    color:White;
}

/* -- end BMS Icons 2013-01-09 */

.closeWrap 
{
    width: 150px;
    display: block;
    float:right;
    align:right;
    vertical-align: middle;    
    margin: 0px 0px 0px 0px;
}

.gContent
{
    background-color: Yellow;
    border: 2px solid red;
}

.imp
{
    border-radius: 5px;
    -moz-border-radius: 5px;

    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 1px 2px 1px 2px;   
    width: 32px;
    height: 32px;
    
    display: block;
    float: left;   
    cursor: hand;
    background-color: #FFFFFF;
        
}
.imp:hover
{
    cursor:hand;
    background-color: #EFEFFF;
}
.imp a
{
    text-decoration: none;
    color: #FFFFFF;
}
.imp a:hover
{
    text-decoration: none;
    color: #FFFFFF;
}

.buttonRight
{
    text-align: right;
}

.righty 
{
  display: inline-block;
  clear: none;
  text-align: right;            
  padding-top: 2px;
}

div#topLine
{
  float:left;
  background-image:url(../Images/logoToyota1024.gif);
  background-repeat:no-repeat; 
  width:990px;
  height:32px;
  padding-bottom:6px;
  display: table; 
}

div#topDiv {
  background-image:url(../Images/void.png);
  width:660px;
  height:17px;
  margin-top:8px;
  margin-bottom:5px;
  padding-left:4px;
  text-align:right;
  font-size:11px;
  margin-right:12px;
  float:right;
  display: inline;     
}

.lineLabel
{
  display: inline-block;   
  padding: 0 0 0 0 ;
  margin: 2px 0 0 0 ;
  height: 32px; 
}

.linebtn
{
  display: inline-block; 
  clear: none;    
  margin: 0 0 0 0;
  padding: 0 0 0 0;        
}

table#linetab 
{
  display:inline-block;
  margin: -8px -12px 0 0;
  padding 0 0 0 0; 
  vertical-align: top;
  border-width: 0px;
  clear: none;
}


.line-button
{	
  width:54px;
  height:32px;    
  margin: 0 0 0 0;
  padding: 0px 0px 0px 0px;    
  cursor: hand;
  vertical-align: top;
  border-width: 0px;
}

#userFullName 
{
    text-shadow: 1px 1px 1px silver;
}

#minuteTimer 
{
    text-shadow: 1px 1px 1px silver;
}